@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f9f9ff;
  color: #111827;
  font-family: Inter, sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}